# idea
.idea
*.iml

# building
target
build
tmp*
dist
test-output
build.log
dependency-reduced-pom.xml

# debug
owl/db/owl_db.sqlite
owl/db/owl_db.sqlite-shm
owl/db/owl_db.sqlite-wal
owl.pid.lock

# other scm
.svn
.CVS
.hg*

#  project
logs/

# mac
.DS_Store
